<h1>Proyectos</h1>
<div class="float-right">
<%= link_to 'Nuevo Proyecto', new_proyecto_path, class: "btn btn-primary" %>
</div>
<div class="table-responsive">
<table class="responsive nowrap table proyectos" id="dttb-proyectos" data-sort="true" style="font-size: 80%" data-page-length='100'>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Estado</th>
      <th>Inicio</th>
      <th>Fin</th>
      <th>Descripcion</th>
      <th>User</th>
      <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
    </tr>
  </thead>
  <tbody>
    <% @proyectos.each do |item|%>
      <tr>
        <td><%= item.titulo%></td>
        <td><% if item.estado == "1"%> Abierto <%elsif item.estado == "2"%> Cerrado <%else%> Pausado <%end%>
        </td>
        <td><%= item.inicio%></td>
        <td><%= item.fin%></td>
        <td><%= item.descripcion%></td>
        <td><%= item.user.email%></td>
        <td>
          <%= link_to edit_proyecto_path(item), class: "btn btn-success btn-circle" do%>
            <i class="fas fa-edit"></i>
          <%end%>
            <%= link_to item, method: :delete, class: 'btn btn-danger  btn-circle',data: { confirm:'¿Estas Seguro de eliminar este proyecto?'}  do %>
            <i class="fas fa-trash"></i>
          <%end%>
        </td>
      </tr>
    <%end%>
  </tbody>
</table>
</div>
<br>
