<div class="row">
	<div class="col-md-2">
	</div>
	<div class="col-md-2">
		<%=link_to new_solicitud_path, class:"btn btn-primary btn-lg btnIndex" do%>
			<span class="align-middle">
				Generar solicitud de obra
			</span>
		<%end%>
	</div>
	<div class="col-md-2 align-self-center">
		<button type="button" class="btn btn-info btn-lg btnIndex" data-toggle="modal" data-target="#exampleModal">
  		<span class="align-middle">
				Bitacora de obra
			</span>
		</button>
	</div>
	<div class="col-md-2 align-self-center">
		<button type="button" class="btn btn-success btn-lg btnIndex" data-toggle="modal" data-target="#modalHome">
  		<span class="align-middle">
				Tareas
			</span>
		</button>
	</div>
	<div class="col-md-2">
	</div>
	<div class="col-md-2">
	</div>
</div>
<br/>
<div class="row card" >
	<captation style="padding-left: 20px;padding-top: 10px"><h4>Tareas</h4></captation>
	<div class="col-md-12">
		<table class="table dataTable" style="font-size: 80%">
			<thead>
				<tr>
					<th>Proyecto</th>
					<th>descripcion</th>
					<th>asignado a</th>
					<th>Periodo asignado</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<%@tareas.each do |item|%>
					<tr>
						<td><%= item.proyecto.titulo %></td>
						<td><%= item.descripcion %></td>
						<td><%= item.usuario.nombre%></td>
						<td><%= item.limite%></td>
						<td style="padding: 2px">
							<%= link_to 'Detalles', item , class:"btn btn-primary"%> |
							<button type="button" class="btn btn-info homeWorkModal" data-toggle="modal" data-target="#modalWork" data-id="<%=item.id%>">
					  		<span class="align-middle">
									Cerrar Tarea
								</span>
							</button>
			            </td>
					</tr>
				<%end%>
			</tbody>
		</table>
	</div>
</div>
<hr>
<div class="row card" >
	<captation style="padding-left: 20px;padding-top: 10px"><h4>Ultimos 5 Registros Bitacora</h4></captation>
	<div class="col-md-12">
		<table class="table dataTable" style="font-size: 80%">
			<thead>
				<tr>
					<th>Proyecto</th>
					<th>Titulo</th>
					<th>Descripcion</th>
					<th>Resultado</th>
					<th>Fecha</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<%@lastRegistry.each do |item|%>
					<tr>
						<td><%= item.proyecto.titulo %></td>
						<td><%= item.titulo %></td>
						<td><%= item.descripcion %></td>
						<td><%= item.resultado %></td>
						<td><%= item.created_at.to_formatted_s(:long) %></td>
						<td style="padding: 2px">
							<%= link_to 'Ver', item , class:"btn btn-primary"%>
			            </td>
					</tr>
				<%end%>
			</tbody>
		</table>
	</div>
</div>
<br/>
<div class="row card" >
	<captation style="padding-left: 20px;padding-top: 10px; padding-bottom: 5px"><h4>Solicitudes Pendientes de Autorizar</h4></captation>
	<div style="padding: 15px;">
		<i class="fas fa-shapes"></i> Solicitud Material /\
		<i class="fas fa-hand-holding-usd"></i> Solicitud Viaticos /\
		<i class="fas fa-car-alt"></i> Solicitud Vehiculo /\
		<i class="fas fa-broom"></i> Solicitud Otro /\
	</div>
	<div class="col-md-12">
		<table class="table dataTable">
			<thead>
				<tr>
					<th>Proyecto</th>
					<th>Observaciones</th>
					<th class="text-center">Tipo Solicitud</th>
					<th>Fecha</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<%@solicitudes.each do |item|%>
					<tr>
						<td><%= item.proyecto.titulo %></td>
						<td><%= item.observaciones%></td>
						<td class="text-center">
							<%if item.materials.count > 0%> 
								<span class="text-success">
									<i class="fas fa-shapes"></i>-<%=item.materials.count%>/
								</span>
							<%elsif item.materials.count == 0%>
								<span>
									<i class="fas fa-shapes"></i>-<%=item.materials.count%>/
								</span>
							<%end%>
							<%if item.viaticos.count > 0%>
								<span class="text-success">
									<i class="fas fa-hand-holding-usd"></i>-<%=item.viaticos.count%>/
								</span>
							<%elsif item.viaticos.count == 0%>
								<i class="fas fa-hand-holding-usd"></i>-<%=item.viaticos.count%>/
							<%end%>
							<%if item.vehiculos.count > 0%>
								<span class="text-success">
									<i class="fas fa-car-alt"></i>-<%=item.vehiculos.count%>/
								</span>
							<%elsif item.vehiculos.count == 0%>
								<i class="fas fa-car-alt"></i>-<%=item.vehiculos.count%>/
							<%end%>
							<%if item.otro.count > 0%>
								<span class="text-success">
									<i class="fas fa-broom"></i>-<%=item.otro.count%>/
								</span>
							<%elsif item.otro.count == 0%>
								<i class="fas fa-broom"></i>-<%=item.otro.count%>/
							<%end%>
						</td>
						<td><%= item.created_at.to_formatted_s(:long) %></td>
						<td style="padding: 2px">
	            			<%= link_to 'Estado', item , class:"btn btn-primary btn-sm w-100"%>
          				</td>
					</tr>
				<%end%>
			</tbody>
		</table>
	</div>
</div>
<br/>
<div class="row" style="padding: 25px;">
	<div class="col-md-3 card" >
		<div class="row" style="height: 70px;" >
			<div class="col-md-5 text-center"><h1><%=Solicitud.where(user:current_user,estado:"1").count%></h1></div>
			<div class="col-md-7"><h3>Sin Autorizar</h3></div>
		</div>
	</div>
	<div class="col-md-3 card">
		<div class="row" style="height: 70px;">
			<div class="col-md-5 text-center bg-success text-white"><h1><%=Solicitud.where(user:current_user,estado:"2").count%></h1></div>
			<div class="col-md-7"><h3>Autorizadas</h3></div>
		</div>
	</div>
	<div class="col-md-3 card">
		<div class="row" style="height: 70px;">
			<div class="col-md-5 text-center bg-primary text-white"><h1><%=Solicitud.where(user:current_user,estado:"3").count%></h1></div>
			<div class="col-md-7"><h3>Finalizadas</h3></div>
		</div>
	</div>
	<div class="col-md-3 card ">
		<div class="row" style="height: 70px;">
			<div class="col-md-5 text-center bg-danger text-white"><h1><%=Solicitud.where(user:current_user,estado:"4").count%></h1></div>
			<div class="col-md-7"><h3>Canceladas</h3></div>
		</div>
	</div>
</div>
<%=render 'modal_registro'%>
<%=render 'modal_tarea'%>
<%=render 'modal_work'%>




