<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <div class="card" style="padding: 25px;">
      <%= simple_form_for @user, url:{action:"update_password"}, id: @user do |f| %>
      <input type="hidden" name="id" value='<%=@user.id%>'>
        <div class="field">
          <%= f.label :password, "Nueva Contraseña" %><br />
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em><br />
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, "Confirmar Contraseña" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
        </div>
        <br/>
        <div class="actions">
          <%= f.submit "Cambiar la contraseña", class: "btn btn-primary btn-block" %>
        </div>
      <%end%>
    </div>
  </div>
  <div class="col-md-3">
  </div>
</div>
