<div class="row">
	<div class="col-md-1">
	</div>
	<div class="col-md-10">
		<div class="card" style="padding: 25px;">
			<%= simple_form_for @equipo, url:{action:"equipo_create"} do |f| %>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<%=f.select(:user_id, options_for_select(User.where(activo:true).collect{|titulo| [titulo.nombre,titulo.id]}),{include_blank: "Seleccionar al jefe de equipo"},{class: 'form-control'})%>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<%= f.text_field :nombre, class: "form-control", placeholder: "Nombre del equipo de Trabajo"%>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col-md-2">
						<%= f.check_box :activo%>
					</div>
					<div class="col-md-10">
						<%= f.label :activo%>
					</div>
				</div>
			</div>
			<div class="form-group">
           <%= link_to_add_row("Agregar Usuario", f,:equipo_usuario, class: "btn btn-primary")%>
	          <table class="table">
	            <thead>
	              <tr>
	                <th>
	                  Usuario
	                </th>
	                <th>
	                  Activar
	                </th>
	                <th></th>
	              </tr>
	            </thead>
	            <tbody class="fields">
	              <%= f.simple_fields_for :equipo_usuario do |build|%>
	                <%= render 'equipo_usuario', f: build %>
	              <%end%>    
	            </tbody>
	          </table>
	          
	        </div>
			<%=f.submit "Generar Equipo de Trabajo", class: "btn btn-primary btn-block"%>
			<%end%>
		</div>
	</div>
	<div class="col-md-1">
	</div>
</div>