<div class="float-right">
<%= link_to 'Nueva Solicitud', new_solicitud_path, class: "btn btn-primary" %>
</div>
<h1>Solicitudes</h1>
  <div class="row" style="padding-right: 15px; padding-left: 15px;">
    <div class="col-md-3">Solicitud Nueva</div>
    <div class="col-md-3 bg-success">Solicitud Validada</div>
    <div class="col-md-3 bg-primary">Solicitud Entregada</div>
    <div class="col-md-3 bg-danger">Solicitud Cancelada</div>
  </div>
  <br/>

<div class="table-responsive" style="font-size: 80%">
  <table class="nowrap table" id="dttb-solicituds" data-sort="true" data-order='[[ 0, "desc" ]]' data-page-length='50'>
    <thead>
      <tr  class="text-center">
        <th>Folio</th>
        <th>Proyecto</th>
        <th>Observaciones</th>
        <th class="text-center"><i class="fas fa-user-friends"></i></th>
        <th><i class="fas fa-shapes"></i></th>
        <th><i class="fas fa-hand-holding-usd"></i></th>
        <th><i class="fas fa-car-alt"></i></th>
        <th><i class="fas fa-broom"></i></th>
        <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
      </tr>
    </thead>
    <tbody style="padding: 0px;">
      <%@solicituds.each do |items|%>
        <tr style="padding: 0px;" class="<% if items.estado == '1'%><%elsif items.estado == '2'%> bg-success <%elsif  items.estado == '3'%> bg-primary <%elsif items.estado == '4'%>bg-danger<%end%>">
          <td style="padding: 2px"><%=items.id%></td>
          <td style="padding: 2px;"><%=items.proyecto.titulo%></td>
          <td style="padding: 2px; word-break: break-all!important;"><%=items.observaciones%></td>
          <td style="padding: 2px"><%=items.user.nombre%></td>
          <td class="text-center" style="padding: 2px"><%=items.materials.count%></td>
          <td class="text-center" style="padding: 2px"><%=items.viaticos.count%></td>
          <td class="text-center" style="padding: 2px"><%=items.vehiculos.count%></td>
          <td class="text-center" style="padding: 2px"><%=items.otro.count%></td>
          <td style="padding: 2px">
            <div class="dropdown">
              <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Acciones
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <%= link_to 'Estado', items , class:"dropdown-item"%>
                <%if items.estado == "1" && items.user == current_user%>
                  <%= link_to 'Editar', edit_solicitud_path(items), class:"dropdown-item" %>
                <%end%>
                <%if items.estado == "1"%>
                  <%= link_to 'Cancelar', items, method: :delete, class:"dropdown-item",data: { confirm: 'Are you sure?' } %>
                <% end%>
              </div>
            </div>
          </td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>

<br> 