
<%= simple_form_for(@registry) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <diV class="card" style="padding: 25px;">
  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <%= f.label :proyecto%>
        <%=f.select :proyecto_id,Proyecto.where(estado:'1').collect{|item| [item.titulo,item.id,{'data-tokens'=>item.titulo}] },{prompt:"Selecciona un Proyecto"},{class: "form-control selectpicker", 'data-live-search': true}%>
      </div>
      <div class="col-md-6">
        <%= f.label :titulo%>
        <%= f.text_field :titulo, class: "form-control" %>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-12">
        <%= f.label :descripcion%>
        <%= f.text_area :descripcion, class: "form-control" %>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-6">
            <%= f.label :evidencia%>
            <%= f.file_field :evidencia, class: "form-control" %>
          </div>
          
          <div class="col-6 text-center">
            <br/>
            <% if f.object.evidencia.attachment != nil%>
              <%if @registry.evidencia.image?%>
                <%=image_tag url_for(@registry.evidencia),width:350%>
              <%else%>
              <%= link_to "Descargar", url_for(@registry.evidencia), class: "btn btn-sm btn-success", target: "_blank" %>
              <%end%>
            <%else%>
              <h5>Sin evidencia</h5>
            <%end%>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <%= f.label :resultado%>
        <%= f.text_area :resultado, class: "form-control" %>
      </div>
    </div>
    <br/>
  </div>
</diV>
<br/>
  <div class="form-actions w-100 text-center">
    <%= f.button :submit, class: "btn btn-primary" do %>
      Ingresar Registro
    <%end%>
  </div>
<% end %>
<script type="text/javascript">
  $(function () {
    $('select').selectpicker();
  });
</script>